<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
<meta name="description"
      content="{{ if .IsPage }}{{ or .Params.description .Summary }}{{ else if .IsHome }}{{ .Site.Params.description }}{{ else if .IsNode }}{{ or .Params.description .Summary }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="robots" href="/robots.txt"/>

{{ template "_internal/opengraph.html" . }}

{{ if .PublishDate }}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{ with .PublishDate }}
<meta property="og:publish_date" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
<meta name="author" content="Jordy van Vorselen">
<meta name="author" property="article:author" content="https://twitter.com/jvanvorselen"/>
<meta property='article:publisher' content="https://twitter.com/jvanvorselen"/>{{ end }}
<meta name="twitter:card" content="summary_large_image"/>
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="627">
{{ end }}
