<script
    type="application/javascript"
    src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/medium-zoom/1.0.6/medium-zoom.min.js"
        integrity="sha512-N9IJRoc3LaP3NDoiGkcPa4gG94kapGpaA5Zq9/Dr04uf5TbLFU5q0o8AbRhLKUUlp8QFS2u7S+Yti0U7QtuZvQ==" crossOrigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script>
    var config = {
        startOnLoad: true,
        theme: '{{ if site.Params.mermaid.theme }}{{ site.Params.mermaid.theme }}{{ else }}dark{{ end }}',
        align: '{{ if site.Params.mermaid.align }}{{ site.Params.mermaid.align }}{{ else }}center{{ end }}',
    };
    mermaid.initialize(config);
</script>